{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Delete Exercise</h5>
        <p class="card-text">Are you sure you want to delete the exercise "{{ exercise.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'detail' exercise.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
