{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            {% if exercise.image %}
            <img src="{{ exercise.image.url }}"
                 class="img-fluid rounded-start" alt="">
            {% else %}
            <span class="text-muted">No image</span>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="card-text">

                    <h5 class="card-title">{{ exercise.title }}</h5>
                    <span class="text-muted">
                    von {{ exercise.creator.username }}
                </span>
                </div>
                <hr/>
                <p class="card-text"><b>Kurzbeschreibung:</b> {{ exercise.body }}</p>
                <p class="card-text"><b>Trainingsfokus:</b> {{ exercise.soccer_skills }}</p>
                <p class="card-text"><b>Altersklasse:</b>
                    {% if exercise.for_adults %} Erwachsene {% endif %}
                    {% if exercise.for_jun_a %} A-Jun {% endif %}
                    {% if exercise.for_jun_b %} B-Jun {% endif %}
                    {% if exercise.for_jun_c %} C-Jun {% endif %}
                    {% if exercise.for_jun_d %} D-Jun {% endif %}
                    {% if exercise.for_jun_e %} E-Jun {% endif %}
                    {% if exercise.for_jun_f %} F-Jun {% endif %}
                    {% if exercise.for_jun_g %} G-Jun {% endif %}
                </p>
                <p class="card-text">
                    {% if exercise.youtube_link %}
                    <a href="{{ exercise.youtube_link }}"
                       class="btn btn-outline-danger">
                        <i class="bi bi-youtube"></i>
                        Youtube Link
                    </a>
                    {% endif %}
                    {% if exercise.pdf %}
                    <a href="{{ exercise.pdf.url }}" class="btn btn-outline-info">
                        <i class="bi bi-file-earmark-pdf-fill"></i>
                        Pdf
                    </a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'create_comment' exercise.id %}"
                       class="btn btn-primary">
                        Kommentar hinzufügen
                    </a>
                    {% endif %}
                <div class="btn-group" role="group">
                    {% if user.is_authenticated and user == exercise.creator or user.is_staff %}
                    <a href="{% url 'update_exercise' exercise.id %}" class="btn btn-warning">
                        <i class="bi bi-pencil "></i>
                        Ändern
                    </a>
                    <a href="{% url 'delete_exercise' exercise.id %}" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                        Löschen
                    </a>
                    {% endif %}
                </div>


                <hr/>
                <h3>Kommentare:</h3>
                <ul class="list-group">
                    {% for comment in comments %}
                    <li class="list-group-item pb-3 pt-3">
                        <h5 class="card-title">
                            von {{ comment.user.username }}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ comment.date }}
                        </h6>
                        <p class="card-text">{{ comment.text }}</p>
                        {% if user.is_authenticated and user == comment.user or user.is_staff %}
                        <a class="btn btn-primary me-2"
                           href="{% url 'update_comment' comment.id %}">
                            Ändern
                        </a>
                        <a class=" btn btn-danger"
                           href="{% url 'delete_comment' comment.id %}">
                            Löschen
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}