<div>
    <label for="rating">Bewertung:</label>

    {% if exercise.average_rating < 0.5 %}
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    {% endif %}

    {% if exercise.average_rating < 1.5 and exercise.average_rating >= 0.5 %}
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    {% endif %}

    {% if exercise.average_rating < 2.5 and exercise.average_rating >= 1.5 %}
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    {% endif %}


    {% if exercise.average_rating < 3.5 and exercise.average_rating >= 2.5 %}
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    {% endif %}


    {% if exercise.average_rating < 4.5 and exercise.average_rating >= 3.5 %}
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    {% endif %}


    {% if exercise.average_rating >= 4.5 %}
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    {% endif %}

    {{ exercise.average_rating }}
</div>