<div>
    <label for="rating">Rating:</label>
    {% if exercise.rating == 0 %}
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    {% endif %}

    {% if exercise.rating == 1 %}
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    {% endif %}
    {% if exercise.rating == 2 %}
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    {% endif %}
    {% if exercise.rating == 3 %}
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    {% endif %}
    {% if exercise.rating == 4 %}
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star text-warning"></span>
    {% endif %}

    {% if exercise.rating == 5 %}
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    <span class="bi bi-star-fill text-warning"></span>
    {% endif %}


</div>