{% extends 'exercise/base.html' %}

{% block content %}
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Titel</th>
            <th>Kurzbeschreibung</th>
            <th>erstellt</th>
            <th>Skill</th>
        </tr>
        </thead>
        {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.title }}</td>
                <td>{{ exercise.body }}</td>
                <td>{{ exercise.created_on }}</td>
                <td>{{ exercise.soccer_skills.name }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}