{% extends 'exercise/base.html' %}

{% block content %}
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Titel</th>
            <th>Kurzbeschreibung</th>
            <th>erstellt</th>
            <th>Autor</th>
            <th>Trainingsfokus</th>
            <th>Altersklasse</th>
        </tr>
        </thead>
        {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.title }}</td>
                <td>{{ exercise.body }}</td>
                <td>{{ exercise.created_on }}</td>
                <td>{{ exercise.creator }}</td>
                <td>{{ exercise.soccer_skills }}</td>
                <td>{{ exercise }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}