
{% extends 'base.html' %}

{% block content %}
    <h2>Übungsdetails</h2>
    
    <p>{{ exercise.title }}</p>
    <p>{{ exercise.body }}</p>
    <p>{{ exercise.created_on }}</p>
    <p>{{ exercise.creator }}</p>
    <p>{{ exercise.soccer_skills.title }}</p>
    <p>{{ exercise.for_adults|yesno:"X,-" }}</p>
    <p>{{ exercise.for_jun_a|yesno:"X,-" }}</p>
    <p>{{ exercise.for_jun_b|yesno:"X,-" }}</p>
    <p>{{ exercise.for_jun_c|yesno:"X,-" }}</p>
    <p>{{ exercise.for_jun_d|yesno:"X,-" }}</p>
    <p>{{ exercise.for_jun_e|yesno:"X,-" }}</p>
    <p>{{ exercise.for_jun_f|yesno:"X,-" }}</p>
    <p>{{ exercise.for_jun_g|yesno:"X,-" }}</p>
    
    <a class="btn btn-secondary btn-sm" href="{% url 'exercise_start' %}">Zurück</a>
    <a class="btn btn-danger btn-sm" href="#">Löschen</a>
    <a class="btn btn-success btn-sm" href="#">Update</a>
{% endblock content %}